.sidebar{
    position: absolute;
    /*absolute를 사용하는 요소들만-> z인덱스로 보이는 박스의 우선순위(z인덱스가 높을수록 우선순위 높음)를 정해줌 */
    /* 99는 극단적임 적당하게 준다 z인덱스가 낮으면 가려서 안보일 수 있으니 주의 */
    z-index: 99; 
    left: -150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid #dbdbdb;
    width: 150px;
    height: 100%;
    background-color: #f5f1ecd7;
}

.isSidebarOpen{
    left: 0px;
}

.sidebar-title{
    margin: 70px 0px;
    padding: 5px;
    width: 100%;
    font-size: 30px;
}

.page-buttons{
    display: flex;
    flex-direction: column;
}

.sidebar-toggle-button{
    position: absolute;
    left: 150px;
    border: 1px solid #dbdbdb;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    padding: 6px 6px 4px 1px;
    height: 30px;
    background-color: #f5f1ec85;
}

